.buttons {
  width: 400px;
  height: 400px;
  background: transparent;
  display: inline-block;
  position: relative;
  padding: 20px 38px;
  top: 0;
  font-size: 30px;
  font-family: 'Open Sans', Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba(28, 227, 125, 0.5);
  background: #16e689;
  color: #fff;
  box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.1); }

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: purple;
  color: #468CCF; }

#shineBody {
  font-family: AmericanTypewriter-Bold, sans-serif;
  background: blue; }

#shineContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: purple;
  padding-bottom: 20px;
  margin: 0 auto; }

#shineContainer2 {
  display: none; }

.pizza {
  background-color: #468CCF; }

#schedule-text {
  margin: 0px 0px 2px 0px;
  font-size: 20px; }

#schedule-text li {
  display: inline-block;
  margin: 11px 11px 0px 0px;
  color: purple;
  float: left;
  font-family: "Comic Sans MS", cursive, sans-serif; }

.toppings {
  display: inline-block;
  clear: both; }

.pizzaRadio {
  float: left; }

h1 {
  text-align: center;
  position: relative;
  margin: auto;
  font-size: 4em;
  font-weight: bold;
  color: red; }

h2 {
  text-align: center;
  position: relative;
  margin: auto;
  font-size: 2em;
  font-weight: bold;
  color: purple; }

.logo {
  width: 25%;
  height: 50px;
  padding-top: 5%;
  clear: both; }

span .textFloats {
  color: blue; }

#container-login {
  display: flex;
  flex-direction: column; }

#container-login h1 {
  margin-left: 165px; }

.has-sub nav .tap ul {
  display: block; }

.header {
  color: purple;
  font-size: 50px; }

#header-out {
  font-size: 50px;
  color: purple;
  text-align: center; }

#header-reg {
  color: purple;
  font-size: 42px;
  margin-left: 160px; }

.form-group {
  margin: 0px 300px 0px 165px; }

.form-group label, input {
  color: purple; }

.mrShineHeader {
  color: purple;
  margin: 0px 0px 0px 150px;
  font-size: 112px; }

.mrShineWelcome {
  color: purple;
  display: flex;
  flex-direction: column;
  font-size: 60px;
  text-align: center; }

#borderBox {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 36px;
  color: #F6A623;
  letter-spacing: 2.99px;
  margin: 20px 150px 0px 150px; }

#butt {
  background-color: #6FB3FF;
  display: block;
  position: relative;
  width: 400px;
  height: 50px;
  padding: 20px 38px;
  font-size: 30px;
  font-family: 'Open Sans', Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba(28, 227, 125, 0.5);
  background: #6c8486;
  color: #6FB3FF;
  box-shadow: #468CCF; }

.gallery {
  flex: 1;
  margin: 4%;
  flex-basis: 28%;
  position: relative; }

.gallery :hover {
  border: orange solid 5px; }

.myButton {
  color: #468CCF;
  font-size: 12px;
  line-height: 23px;
  padding: 13px;
  border-radius: 22px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 700;
  text-decoration: none solid #444444;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  background-image: radial-gradient(at center center, #1c6ea4 0%, #2388cb 60%, #144e75 100%);
  box-shadow: black 19px 16px 52px 11px;
  border: 2px dashed #1c6ea4;
  display: inline-block;
  width: 12em;
  height: 3em;
  padding: .5px;
  text-align: center; }

.myButton:hover {
  border: 2px dashed #468CCF; }

.myButton:active {
  background: #468CCF; }

#white-button a:hover {
  background-color: #6FB3FF; }

.btn-align-align button {
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 0px 100px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #63B8EE;
  background: linear-gradient(top, #63B8EE, #468CCF);
  background: -ms-linear-gradient(top, #63B8EE, #468CCF);
  margin-left: 160px; }

.btn-align-align button:hover {
  background-color: #99ddff; }

footer {
  text-align: center;
  color: #ffffff;
  padding-top: 20px; }

.switch label, h3 {
  display: inline-block; }

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #000000; }

.switch label input[type=checkbox]:checked + .lever {
  background-color: #6fb4ff; }

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #99ddff; }

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.1s ease;
  vertical-align: middle;
  margin: 0 16px 30px; }

h3 {
  padding: 20px;
  font-size: 70px;
  margin-left: 20px; }

.namee {
  border: 0;
  height: 2em;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  color: purple; }

#register-id {
  color: #ffffff;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif; }

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #6FB3FF; }

.center-btn {
  font-family: "Comic Sans MS", cursive, sans-serif;
  float: right;
  margin: 15px; }

.center-btn a {
  font-size: 20px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #F6A623;
  padding: 1px 30px;
  margin: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #63B8EE;
  background: linear-gradient(top, #63B8EE, #468CCF);
  background: -ms-linear-gradient(top, #63B8EE, #468CCF); }

.center-btn h5 {
  margin: 50px; }

.center-btn a:hover {
  background-color: #99ddff; }

.main {
  text-align: center;
  padding-top: 5%;
  width: 45%;
  clear: both; }

.picture {
  display: block;
  position: relative; }

#contentss {
  width: 70%;
  margin-top: 5%; }

.column-left {
  width: 40%;
  display: inline-block;
  float: left;
  height: auto;
  position: relative;
  font-size: 2.1em; }

.textFloats {
  margin-left: 4%;
  width: 45%;
  display: inline;
  position: relative;
  float: left;
  font-size: 1.2em; }

.textFloats1 {
  margin-left: 4%;
  width: 45%;
  display: inline;
  position: relative;
  float: left;
  font-size: 3.6em;
  color: blue; }

#div {
  background-color: oldlace; }

#top {
  height: 100px;
  background-color: oldlace; }

.right {
  width: 40%;
  height: auto;
  display: block;
  float: left;
  position: relative; }

#picture-right {
  width: auto;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block; }

.logo {
  flex: 1;
  flex-basis: 90%; }

.logo {
  display: block;
  width: 55%;
  float: none; }

#shineContainer {
  display: flex; }

#shineContainer2 {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: purple;
  padding-bottom: 20px;
  margin: 0 auto; }

nav li {
  text-decoration: none;
  display: block;
  padding: 0%; }

ul {
  padding-left: 0%; }

.portrait {
  display: none; }

.column-left, picture-right {
  float: none;
  width: 100%; }

column-right {
  margin-left: 0%; }

span {
  color: purple; }

p {
  color: blue; }

.drink {
  color: #468CCF; }

.drinkText {
  color: #468CCF; }

span {
  color: purple; }

p {
  color: purple; }

.showonmobiles {
  display: block !important; }

.nomobiles {
  display: none !important; }

#menuswitch {
  display: block; }

#menuewrapper {
  display: none !important; }

.topspacer a.fb_link {
  display: block;
  width: 20%;
  float: right; }

.topspacer a.fb_link img {
  max-width: 100%; }

.topspacer a.logobox {
  display: block;
  width: 70%;
  float: left; }

.topspacer a.logobox img {
  max-width: 100%; }

.topspacer {
  background: url(img/header.png) no-repeat; }

#wrapper {
  width: 100%;
  min-width: 100%;
  left: 0; }

.contentbox {
  XXbackground: url(img/bg50.png); }

.contentbox .inner {
  margin: 30px 8% 0 8%; }

.footerbox .inner {
  margin: 5px 8% 0 8%; }

/*# sourceMappingURL=style.css.map */
